*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 2, 73);
    display: flex;
    justify-content: center;align-items: center;
    height: 100vh;
}

#form-container{
background-color: white;
padding: 50px;
text-align: center;
}

h2{
    margin: 0px 0px 15px 0px;
}

input{
    width: 200px;
    margin: 10px 0;
    padding: 10px;
}

input[type="submit"]{
    width: 200px;
    background-color: rgb(171, 171, 240);
    border: 0px;
    color: white;
}

.error{
    color: red;
    margin: 0;
    text-align: left;
}